{% extends "base.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('indexNote') }}">Моя страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}

