{% extends "@App/main.html.twig" %}

{% block title %}Моя страница{% endblock %}

{#{% block content %}
    <h4>{{ message }}, {{ app.user.name }}</h4>
    <div class="notes-blog">
        {% for note in notes %}
            <div class="one-notes">
                {{ note.content }}
            </div>
        {% endfor %}
    </div>
    <div class="pt-5">
        {% if is_granted("ROLE_USER") %}
            {{ form(form) }}
        {% endif %}
    </div>
{% endblock %}#}

