.notes-blog{
    margin-top: 20px;
}

.one-notes{
    min-height: 50px;
    padding: 20px;
}

.one-notes:nth-child(1n) {
    background: #e2f7ef;
}

.one-notes:nth-child(2n) {
    background: #eaf2ff;
}