{% extends "base.html.twig" %}

{% block title %}Добро пожаловать{% endblock %}

{% block body %}
    <div class="content">
        <div class="jumbotron">
            <h1>Добро пожаловать</h1>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam asperiores assumenda, blanditiis commodi consequatur cumque delectus deleniti distinctio dolorem eveniet expedita facere fuga illum impedit inventore laborum minima nesciunt nulla pariatur perferendis possimus quas quo recusandae rerum suscipit tempore veniam vitae voluptate voluptatibus! Aliquam beatae eligendi eos ipsam vel voluptates! Accusamus amet debitis delectus dicta distinctio, dolor dolore doloremque ea enim error et facilis fuga hic id impedit incidunt iste iure minus modi mollitia non officia pariatur placeat quis sed sint soluta, sunt tempore temporibus totam ullam veniam voluptas voluptatibus. Aliquam asperiores aspernatur blanditiis commodi consectetur delectus, deleniti eius harum hic labore molestias necessitatibus non nostrum numquam pariatur, provident quae quas qui reiciendis reprehenderit. Accusantium at beatae cumque dolor dolore ipsa odio placeat sit, veniam voluptate. Aliquam aliquid amet aspernatur blanditiis debitis, doloremque earum error exercitationem illum incidunt itaque magni neque odit officia, officiis optio provident quibusdam quo rem sequi, ullam veritatis voluptatibus! Atque porro quisquam similique ut! Aperiam cupiditate distinctio dolores id inventore, iure nihil odit omnis saepe, unde veniam voluptatibus. Adipisci aliquam aliquid aspernatur blanditiis deserunt dignissimos distinctio ducimus, laudantium magni modi molestiae provident quia repellendus sit tempora veritatis vitae. Ad alias amet consectetur cupiditate eum fuga ipsum natus, ut vero voluptate! Ab, aliquam, architecto beatae ea eveniet ipsum obcaecati odio qui quod recusandae rerum tempora, ullam voluptatem. Blanditiis id, iusto libero molestiae quasi quidem unde. Blanditiis error facere fugiat molestias officiis quaerat qui quos! Asperiores corporis dolor, est eveniet ex inventore nobis officiis, possimus quia quo rerum sequi tenetur voluptas. Aspernatur cum cumque eligendi ex, exercitationem facilis fuga fugit maxime, nam nisi non possimus praesentium tenetur, vitae voluptate voluptatem voluptates voluptatibus! Ab accusamus alias, animi dolorum eos eveniet ex fugiat fugit ipsum magnam porro ratione recusandae repellendus sequi similique soluta ullam unde veniam vitae voluptas! Temporibus.</p>
            <a class="btn btn-primary btn-lg" href="{{ path('fos_user_registration_register') }}">Зарегестрироваться</a>
            <a class="btn btn-primary btn-lg" href="{{ path('fos_user_security_login') }}" >Войти</a>
        </div>
    </div>
{% endblock %}